@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
 font-family: Poppins;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .max-container {
    @apply mx-auto max-w-[1440px]
  }

  .padding-container{
    @apply px-2 lg:px-36;
  }
  .btn_transparent{
    @apply px-5 py-3 text-white transition-all duration-1000 rounded-2xl hover:bg-[#9389f0] cursor-pointer border-[0.2px] hover:border-[#9389f0]  border-white text-[12px]
  }

}
